*{
  margin: 0;
  padding: 0;
}
h1{
  padding: 20px;
  color: #fff;
  background: gray;
}
section {
  min-height: 100px;
  overflow: hidden;
  border-bottom: 1px solid #eee;
}
section::after{
  content: '';
  height: 0;
  clear: both;
}


h3{
  float: left;
  width: 200px;
  height: 100%;
  line-height: 100px;
  text-align: center;
  background: #ccc;
}

h3 ~ p{
  height: 100%;
  margin-left: 200px;
}
